.DS_Store
.cache
.classpath
.gradle
.idea
.project
.scala_dependencies
.settings
.springBeans
build
build*.log
classes
npm-debug.log
local.properties
target
out
gen
/out/
*.IGNORE
app/config.txt
app/app.iml
.idea/
build/


# CMake
cmake-build-debug/
cmake-build-release/

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/eon-mobile.iml
